/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*type selector*/
body{
	font-family: 'Poppins', sans-serif;
}

nav{
	/*padding: 0.7rem;
	margin: 0 0 2rem 0;*/
	border-bottom: 3px solid black;
}

footer{
	padding: 0.5rem;
	background-color: #000080;
	color: white;
}

img:hover{
	height: 250px;
	width: 250px;
}

/*id selectors*/
#intro{
	text-align: center;
	background-color: #4169E1;
	padding: 4rem 20% 4rem 20%;
	border-bottom: 2px solid black;
}

#product{
	padding: 3rem 15% 3rem 15%;
	text-align: center;
	border-bottom: 2px solid black;
	background-color: #4169E1;
}

#contact{
	padding: 1rem;
	background-color: ;
	color: ;
}

/*class*/
.logo{
	height: 120px;
	width: 120px;
	border-radius: 50%;
}

.pr-pic{
	height: 200px;
	width: 200px;
	border-radius: 45%;
	display: inline-block;
	vertical-align: top;
}

/*combinators*/
nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}

nav > ul{
	list-style-type: none;
	background-color: white;
}

#intro h2, #intro p{
	margin-bottom: 2rem;
}

#intro button{
	color: black;
	font-weight: bold;
	background-color: silver;
	border-radius: 35px;
	font-size: 1.5rem;
	padding: 1rem;
}

#product h2{
	margin-bottom: 1.5rem;
	text-align: center;
}

#product .card{
	display: inline-block;
	min-height: 350px;
	width: 40%;
	margin: 0 0.75rem 0 0.75rem;
}

#product button{
	color: black;
	font-weight: bold;
	background-color: silver;
	border-radius: 35px;
	font-size: 1.5rem;
	padding: 1rem;
}


#contact > div{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

#contact > div > *{
	margin: 0.4rem 0 0.4rem 0;
}

footer span{
	margin: 0 0.5rem 0 0.5rem;
}